{% if messg %}
    <script>
        alert('{{ messg }}');
    </script>
{% endif %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'js/home.js' %}">
    <link rel="icon" href="{%  static 'favicon.ico'%}" type="image/ico">
    <title>BREMA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav id="bar">
<nav id="topbar">
    <img src="{% static 'favicon.ico' %}" alt="Logo" style="width:5.5vw;">
    <label>Blood Request Management Application</label>
</nav>
<nav id="navbar">
    <a class="nav-link" href="#home">About us</a>
    <a class="nav-link" href="#contact">Contact us</a>
    <a class="nav-link" href="#feedback">Feedback</a>
    <a class="nav-link" href="/requests">Blood Requests</a>
    <a class="nav-link" href="/login">Login</a>
    <a class="nav-link" href="/signup">Sign Up</a>
</nav>
</nav><br>

<div name="home" id="about">
    <b><label>Who are we?</label></b>
  <p>
    We are a platform that allows hospitals once they login to:
      <ul>
        <li>Manage the flow of blood in the system</li>
        <li>Manage blood requests on this platform</li>
        <li>Observe the flow of blood in their hospitals</li>
      </ul>
  </p><br>
    <b>NOTE: The blood requests on the request tab are posted by the hospitals</b><br>
    <p>
        Donors on the other hand can:
        <ul>
            <li>Update their donation schedules</li>
        </ul>
    </p>
</div>
<br><br><br>
<a name="contact">
    <b>For more information and enquiries you can contact us using the following phone or e-mail: </b>
  <table>
    <tr><td>Contact Telephone Numbers:</td></tr>
    <tr><td></td><td>+2542012345678</td></tr>
    <tr><td></td><td>+2542087654321</td></tr>

    <tr><td>BREMA E-mails: </td></tr>
    <tr><td></td><td>brema@mail.com</td></tr>
    <tr><td></td><td>brema@mailinator.com</td></tr>
  </table>
</a>
<br><br><br>
<a name="feedback">
    <b>For errors and comments please write us a feedback below:</b><br>
  <form name="feedback" method="post" action="/Feedback_successful">
      <header>Full name</header>
      <input type="text" name="fullName" required>
      <header>E-mail</header>
      <input type="email" name="email" required>
      <header>Comment</header>
      <textarea name="comment" required></textarea>
    <button type="submit" name="submit" style="background-color: #B22222; color: white; padding: 15px 32px; font-size: 1.5vw;">SUBMIT</button>
  </form>
</a>
<footer >BREMA Copyright &copy2020</footer>
</body>
</html>