body {
    background-image: url("../images/hospital.jpg");
    background-size: 100% auto;
    background-position: center top;
    background-attachment: fixed;
    text-align: center;
    color: white;
}

#navbar {
    color: white;
    font-size: 4vw;
}
#signup {
    font-size: 1.75vw;
}

#donorsignup {
  width: 25rem;
  padding: 2.5rem;
  float: left;
  margin-left: 15%;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0.625rem;
  margin-top: 5vw;
}

#hospitalsignup {
  width: 25rem;
  float: right;
  margin-right: 15%;
  padding: 2.5rem;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0.625rem;
}


footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    position: fixed;
}
a{
    color: black;
    font-size: 1vw;
}