<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    Blood Donated
   <table class="table table-striped">
      <thead>
        <tr>
          <th>Blood Group</th>
          <th>Blood Units</th>
          <th>Hospital Name</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr id="tr">
           <td id="bgroup"></td>
           <td id="bunits"></td>
           <td id="hname"></td>
           <td id="date"></td>
        </tr>
       </tbody>
      </table>
</body>
</html>